/* Global Adjustment */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    display: flex;
    padding: 2rem 1rem;
    flex-wrap: wrap;
    background-color: rgba(240, 240, 240, 1);
    width: 100%;
    min-height: 100vh;
    gap: 1.5rem;
    justify-content: center;
}

.party {
    width: 12rem;
    height: 16rem;
    background-color: white;
    border-radius: 0.5rem;
    border: none;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
}

h1 {
    background-color: rgba(240, 240, 240, 1);
    text-align: center;
    font-family: sans-serif;
    padding: 2rem 1rem;
}