/* Global Adjustment */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(240, 240, 240, 1);
}

/*  loading-screen is set to absolute so that it
    doesn push other element

    use min-height to guarantee that the height
    is at least screen's height

    loading-screen's display property is detemined
    by class names below

    set z-index so that it appears above other
    element (above in z dimention, not x or y)
*/
#loading-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    user-select: none;
    -webkit-user-select: none;
}

#loading-screen > span {
    font-size: 2rem;
    font-family: sans-serif;
}

#load-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid darkgray;
}

#load-button:hover {
    cursor: pointer;
}

#load-button:active {
    border: 1px solid gray;
}

/* hide or show loading screen */
/* simply create a class */
.hide {
    display: none;
}

.show-flex {
    display: flex;
}

/* add blur effect that will be used in main */
/* not in loading-screen */
.blur {
    filter: blur(1px);
}